<!DOCTYPE HTML>
<html>
    <head>
        <title>MW Security Foundation</title>
        {% load staticfiles %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}"  media="screen,projection"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script>tinymce.init({selector:'textarea#email_editor'});</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{% static 'js/jquery-cookie/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'css/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/Blob.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/FileSaver.js' %}"></script>
        <script type="text/javascript" src="{% static 'ajaxuploader/js/fileuploader.js' %}"></script>
        <link href="{% static 'ajaxuploader/css/fileuploader.css' %}" media="screen" rel="stylesheet" type="text/css"/>
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="container">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">MW Security Foundation</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/lists">Manage Lists</a></li>
              </ul>
            </div>
          </div>
        </nav>
        
        {% block content %}
        {% endblock %}
    </body>
</html>